<html>
  <head>
    <title>Password Changed</title>
  </head>
  <body>
    <form method="POST" action="/">
        <p>Hasło zostało zmienione!</p>
        <input type="submit" name="ok" value="OK">
    </form>
  </body>
</html>