<html>
  <head>
    <title>Change password</title>
  </head>
  <body>
    <form method="POST" action="/changed">
      <fieldset>
        <label>Nowe Hasło</label><br>
        <input type="password" name="new_password" autofocus><br>
        <label>Potwierdź Hasło</label><br>
        <input type="password" name="check_password"><br>
        <input type="submit" name="change_password" value="ZMIEŃ HASŁO">
      </fieldset>
    </form>
  </body>
</html>