<html>
  <head>
    <title>Root page</title>
  </head>
  <body>
    <form method="POST" action="/logged">
      <fieldset>
        <p>PROSZĘ WPROWADŹ HASŁO:</p>
        <label>Hasło</label><br>
        <input type="password" name="password" autofocus><br>
        <p><a href="/forgot_password">Zapomniałeś hasła?</a></p><br>
        <input type="submit" name="sign_in" value="ZALOGUJ">
      </fieldset>
    </form>
  </body>
</html>