<html>
  <head>
    <title>Logged in page</title>
  </head>
  <body>
    <h1>Dzięki za zalogowanie.</h1>
    <form method="POST" action="/">
      <input type="submit" name="sign_in" value="WYLOGUJ">
    </form>
  </body>
</html>