<%= erb :header %>

  <div class="buttons"> 
      <div class="btns-inline">  
      <% if play == true %>
      <div class="btn-next">
        <form method="POST" action="/">
          <input type="submit" name="click" value="NEXT ITERATION" class="button">
        </form>
      </div>
      <% else %>
      <div class="btn-restart">
        <p><b> Sorry, we're done! </b></p>
        <p> Want to restart? </p>
        <form method="POST" action="/restart">
          <input type="submit" name="click" value="RESTART" class="button">
        </form>
      </div>
      <% end%>
    </div>
  </div>
  <div class="board">
    <% board.curr_table.each do |tab| %>
    <p class="board-line">
      <% tab.each do |t| %>
        <% if t == 0 %>
          <!-- <input type="checkbox" class="css-checkbox" id="notSelected" name="check1" value="check1" disabled>
          <label for="checkbox7" name="checkbox7_lbl" class="css-label lite-x-gray"></label> -->
          <img src="blank.png">
        <% else %>
          <!-- <input type="checkbox" class="css-checkbox" id="notSelected" name="check1" value="check1" disabled checked>
          <label for="checkbox7" name="checkbox7_lbl" class="css-label lite-x-gray"></label> -->
          <img src="full.png">
        <% end %>
      <%end%>
    </p>
    <% end %>
  </div>
<div class="footer">
  <%= erb :footer %>
</div>
