<%= erb :header %>

<div class="game">
  <div class="board">
    <% board.curr_table.each do |tab| %>
    <p>
      <% tab.each do |t| %>
        <% if t == 0 %>
          <input type="checkbox" class="css-checkbox" id="notSelected" name="check1" value="check1" disabled>
          <label for="checkbox7" name="checkbox7_lbl" class="css-label lite-x-gray"></label>
        <% else %>
          <input type="checkbox" class="css-checkbox" id="notSelected" name="check1" value="check1" disabled checked>
          <label for="checkbox7" name="checkbox7_lbl" class="css-label lite-x-gray"></label>
        <% end %>
      <%end%>
    </p>
    <% end %>
  </div>
  <div class="side">
    <div class="descripion">
      
    </div>
    <div class="buttons">
      <form method="POST" action="/">
          <p> next iteration </p>
          <input type="submit" name="click" value="NEXT">
      </form>
    </div>
  </div>
</div>
<div>
  <%= erb :footer %>
</div>
