<h1>GAME OF LIFE</h1>

<% board.curr_table.each do |tab| %>
   <p><%= tab.join(" ") %></p>
<% end %>

<form method="POST" action="/">
    <p> next iteration </p>
    <input type="submit" name="click" value="NEXT">
</form>
