/* MAIN  */

body {
	background-color: rgb(247,247,247);
	margin: 0;
	padding: 0;
}

article {
	width: 100%;
	margin-top: 50px;
}
main {
	background-color: rgb(247,247,247);
	width: 70%;
	padding: 1%;
	float: left;
}

aside {
	padding: 1%;
	overflow: hidden;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
}

a {
	text-decoration: none;
	color: rgb(236, 120, 111);
}

li a {
	padding: 0.3em;
	display: block;
	text-align: center;

}

a:hover {
	opacity: 0.6;
}

.form-and-fig {
	background-color: white;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 1%;
}

/* SPECIFIC */

/* navigation and logo */

.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: table;
	background-color: white;
	padding: 0.4em 0.3em;
}

#menu-links {
	display: table-cell;
	vertical-align: middle;
}

#menu-links li {
	border-right: 1px solid #000;
}

#menu-links li:last-child {
	border-right: none;
}

#logo {
	float: right;
	display: table-cell;
	padding: 0.5em;
}

/* main field with form */

.options {
	width: 50%;
	padding: 1% 10%;
	display: table-cell;
	vertical-align: middle;
}

select {
	margin: 1.7em 0;
}


.extras {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
}

input[type=text] {
    width: 70%;
    box-sizing: border-box;
    padding: 1%;
    margin: 1% 0;
}

input[type=tel] {
    width: 70%;
    box-sizing: border-box;
    padding: 1%;
    margin: 1% 0;
}

.extras a {
	display: block;
}

.more-info {
  padding: 5px 25px;
  background-position: 5px 50%;
  background-size: 15px 15px;
  background-image: url('images/question_mark.png');
  background-repeat: no-repeat;
}

#submit {
	float: right;
	padding: 1em;
	margin-top: 0.5em;
	background-color: white;
	border-style: none;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit:hover{
	background-color: rgba(0,0,0,0.05);
}


/* right content */

#mySearch {
	width: 100%;	
	border-style: none;
	border-radius: 2em;
	padding: 1.5%;
	margin: 2% 0;
}

.form-and-fig img {
	width: 100%;
}
.form-and-fig img:hover {
	opacity: 0.9;
}

